<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ viewModel.name}}</mat-card-title>
        <mat-card-subtitle>{{ viewModel.note }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img class="item-image" [src]="viewModel.imageUrl" alt="Photo of a Shiba Inu">
        <app-star-rating [rating]="viewModel.rating"></app-star-rating>
        <p>{{ viewModel.description }}</p>
        <h5 class="price-tag">
            ${{ viewModel.price}}
        </h5>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Estadística</button>
        <button mat-button>VENTA</button>
    </mat-card-actions>
</mat-card>