<div class="goal-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="heading">
                    <div class="goal-name">Goal name</div>
                    <button>
                        >
                    </button>
                </div>
            </div>
        </div>

        <div class="mid-row row">
            <div class="col">
                <div class="heading numbers">
                    <div class="current-score">
                        900.00 $
                    </div>
                    <div class="goal-score">
                        200 $
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class=" progress-section">
                    <div class="heading progress-tags">
                        <div class="total-tag">
                            <p>Total</p>
                        </div>
                        <div class="goal-tag">
                            <p>Goal</p>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>