<app-menu></app-menu>

<div class="main-container">
    <!-- <div class="login-card">

        <app-content-card>
            
            <form class="example-form" [formGroup]="formGroup" (ngSubmit)="signIn()">
                <h4>Sign in</h4>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" placeholder="username@email.com"  >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Empty" type="password" >
                </mat-form-field>
                <button mat-raised-button type="submit">Sign in</button>
            </form>
        </app-content-card>
    </div> -->

    

    <div class="photo-footer">
        <a href="https://unsplash.com/photos/P8zDQz8Y2Vc">Photo by Roman Kraft on Unsplash</a>
    </div>
</div>