<div class="cart-container">
    <h4>Cart Items</h4>
    <div class="cart-items">
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
        <app-cart-item></app-cart-item>
        <div class="divider"></div>
    </div>
    
</div>