<div class="cart-container">
    <h4>Cart Items</h4>
    <div class="cart-items">

        <div *ngFor="let item of items | async" class="cart-item">
            <app-cart-item [item]="item"></app-cart-item>
            <div class="divider"></div>
        </div>

    </div>

    <div *ngIf="cartTotal | async as total" class="total-row">
        <div class="cart-total">
            <h5> Total: $ {{ total }}</h5>
        </div>
        <app-payments [amount]="total"></app-payments>
    </div>
</div>