<app-content-card [title]="'My title prop'">
    <div class="text-container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi architecto commodi, facilis veritatis doloremque
            aut pariatur molestiae dolorum aspernatur ullam nobis nemo ipsum error unde. Error, voluptates? Blanditiis
            ratione ipsam, nulla qui nesciunt nam numquam velit ex distinctio minus, corrupti dignissimos, temporibus
            consequatur consectetur minima! Nemo sit amet officiis nihil consequuntur, nobis nesciunt eos veniam quam, ullam
            perspiciatis praesentium accusantium hic inventore vitae atque illum eaque nostrum porro, blanditiis ut natus
            deserunt molestias. Accusantium esse alias aliquid illo modi quibusdam beatae est fugit similique quam officia
            eaque natus sint repellat nulla ratione accusamus sit, odit minima numquam quisquam, autem expedita sequi?
            Eligendi quasi ipsa soluta nisi aut laboriosam doloribus deleniti, quaerat, odio velit molestiae optio, sint ad
            rem. Facilis quam tenetur quos expedita et repudiandae aut quis eligendi animi adipisci. Necessitatibus quos
            aliquam cupiditate est eveniet dolorum explicabo commodi non laboriosam, error ad ullam praesentium nihil
            distinctio iusto molestiae quisquam a sunt cumque ab blanditiis obcaecati fuga impedit? Nihil, in nostrum.
            Necessitatibus ipsa culpa maiores laudantium ut corrupti ipsam minima nostrum nobis. Ipsa inventore nisi
            voluptatibus, voluptatum incidunt laborum fugit alias nemo sit perspiciatis minima adipisci velit maiores itaque
            blanditiis aut earum vel. Earum, repellat deserunt beatae maxime ab commodi ullam aperiam nulla eum eveniet
            reprehenderit culpa voluptatem sint libero officia architecto aut nihil voluptate eos. Voluptatibus unde
            dignissimos earum doloremque dolorum fugit, molestiae voluptatem expedita esse, officia repellendus accusamus
            distinctio itaque repudiandae! Necessitatibus beatae error deleniti molestiae, voluptatum reprehenderit sint
            quisquam quam ab labore expedita voluptatem temporibus recusandae optio quod officiis odit architecto nihil eos
            facilis quasi omnis! Animi aspernatur esse modi nostrum excepturi quis illum facilis saepe eius, ullam
            cupiditate, sint, voluptatem nemo dolores aut accusantium sapiente numquam natus earum labore! Maxime aliquid
            placeat id numquam alias nulla magni laudantium incidunt, quis, nemo vel, accusamus tempora commodi maiores
            nobis corporis veritatis voluptatum. Commodi reiciendis nisi quibusdam dolores earum veritatis ipsum eligendi
            perspiciatis perferendis dolor et magnam aliquid reprehenderit mollitia, sed ad quis? Dolor nesciunt aspernatur
            nostrum libero velit unde, ab facere tempore corrupti error molestias dolores non? Molestiae reprehenderit quos
            nisi corporis ipsum praesentium alias consequuntur laboriosam perspiciatis voluptatum rerum possimus accusamus
            quo dolores nostrum qui, adipisci mollitia itaque assumenda saepe! Sint laudantium deleniti maxime accusantium?
            Earum magni hic sit perferendis temporibus! Repellat dolorem ut beatae explicabo asperiores? Asperiores,
            officiis fugit saepe exercitationem tenetur, aliquid iste officia accusantium, dicta assumenda eum quaerat est
            perspiciatis consequatur praesentium minima nesciunt?</p>
    </div>
</app-content-card>