<div class="card-container">
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
    <app-content-card [title]="'My title prop'">
        <div class="card-content">
            <div class="image-container">
                <img src="https://source.unsplash.com/random">
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit reiciendis iusto illum rem
                    eveniet
                    explicabo animi eos ipsa labore.</p>
            </div>
        </div>
    </app-content-card>
</div>