<app-grid>
    <!-- *ngFor="let item of list" -->
    <app-grid-item class="col col-md-6 col-12 col-lg-4 col-xl-3">
        <app-item-card></app-item-card>
    </app-grid-item>
    <!-- <app-grid-item class="col col-md-6 col-12 col-lg-4 col-xl-3">
        <app-item-card></app-item-card>
    </app-grid-item>
    <app-grid-item class="col col-md-6 col-12 col-lg-4 col-xl-3">
        <app-item-card></app-item-card>
    </app-grid-item>
    <app-grid-item class="col col-md-6 col-12 col-lg-4 col-xl-3">
        <app-item-card></app-item-card>
    </app-grid-item>
    <app-grid-item class="col col-md-6 col-12 col-lg-4 col-xl-3">
        <app-item-card></app-item-card>
    </app-grid-item>
    <app-grid-item class="col col-md-6 col-12 col-lg-4 col-xl-3">
        <app-item-card></app-item-card>
    </app-grid-item> -->
    
    
    
</app-grid>