.register-container{
    padding: 2rem;
}

.register-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 2rem;
}

.example-full-width {
    width: 100%;
}

button{
    width: 100%;
}

.form-grp{
    margin-bottom: 2rem;
}