<app-content-card title="New Product"></app-content-card>

<app-content-card>
    <mat-card-actions>
        <button mat-mini-fab class="back-button" (click)="onBackClick()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </mat-card-actions>

    <div class="form-container">
        <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="picture-selector">
                <div class="picture-select">

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" formControlName="price" required>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field class="example-full-width">
                <mat-label>Note</mat-label>
                <input matInput #note maxlength="30" placeholder="An eye catching note" formControlName="note" required>
                <mat-hint align="start"><strong>Will be visible under product's name</strong> </mat-hint>
                <mat-hint align="end">{{note.value.length}} / 30</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput #message formControlName="description" maxlength="256"
                    placeholder="Product's description" required>
                <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>


            <div class="attributes">
                <h6>Attributes</h6>

                <mat-form-field class="example-form-field">
                    <mat-label>Add attribute</mat-label>
                    <input matInput type="text" [formControl]="attributeInsert" #newAttribute>
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button type="button" mat-button (click)="onAddAttribute(newAttribute.value)">+</button>

            </div>

            <!-- Shows added attributes -->
            <div class="selected-attributes">

                <mat-form-field *ngFor="let attr of addedAttributes(); let idx=index;" class="example-form-field">
                    <!-- <mat-label>Clearable input</mat-label> -->
                    <input matInput type="text" [value]="attr" disabled>
                    <button mat-button type="button" matSuffix mat-icon-button aria-label="Clear"
                        (click)="removeAttr(idx)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>


            <div class="button-container">
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>

        </form>
    </div>


</app-content-card>