.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.form-container{
  padding: 1rem;
}
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .attributes{
    margin-top: 2rem;
  }
  .picture-select{
    height: 100px;
    width: 100px;
    border: 2px dotted rgb(7, 0, 0);
  }
  .picture-select:hover{
    background-color: rgba(19, 1, 1, 0.068);
    cursor: pointer;
  }
  .picture-selector{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .selected-attributes{
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .back-button{
    font-size: 1rem;
  }