:host {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
:host ::ng-deep * {
    font-size: smaller;
}
.product-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.product-info h5{
    margin: 0;
    font-size: 1rem;
}
.product-info p{
    font-weight: 400;
    color: rgb(146, 146, 146);
    font-size: 0.75rem;
    margin: 0;
}
.total{
    text-align: start;
    padding-top: 1rem;
    font-size: 1rem;
}
.quantity-controls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;

}
.quantity-controls input{
    width: 40px;
    height: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
}
.control-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-row .incrementer{
    padding: 8px;
}
.control-row input{
    min-width: 25px;
}
.price{
    font-weight: bolder;
    color: green;
}

.clear{
    display: flex;
    justify-content: center;
    padding: 0;
}
.mat-button{
    padding: 0;
    min-width: 15px;
}
