:host {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
:host ::ng-deep * {
    font-size: smaller;
}

.product-info h5{
    margin: 0;
}
.product-info p{
    font-weight: 400;
    color: #ccc;
    margin: 0;
}
.quantity-controls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.quantity-controls input{
    width: 20px;
    height: 20px;
   font-size: larger;
}
.control-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-row button{

}
.control-row .incrementer{
    padding: 8px;
}
.price{
    font-weight: bolder;
    text-align: center;
}
.clear{
    padding: 1.5rem;
}