<div *ngIf="viewModel" class="main-container">

    <div class="primary-container">

        <img src="https://globalassets.starbucks.com/assets/f12bc8af498d45ed92c5d6f1dac64062.jpg?impolicy=1by1_wide_1242"
            alt="">

        


        <div class="info">
            <h4>{{viewModel.name}}</h4>
            <h6>$ {{viewModel.price}} dlls</h6>
            <div class="description">
                {{viewModel.description}}
            </div>
            <div class="attributes">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip color="primary" *ngFor="let attribute of viewModel.attributes">{{attribute}}</mat-chip>

                </mat-chip-list>
            </div>
            <div class="more-info">
                <h6>Ingredients</h6>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero eveniet fuga repellat culpa corrupti
                rerum, dolorem non quo eligendi necessitatibus asperiores esse vitae! Dolorem at est voluptates.
                Officia, mollitia itaque!
            </div>
        </div>

    </div>



    <button class="add-to-cart-btn" mat-flat-button color="accent" (click)="addToOrder()">Add to order</button>
</div>