<app-best-sellers></app-best-sellers>

<app-sales-report></app-sales-report>

<div class="main-container">
    
    <div class="card-column-container">


        <!-- <div class="card-column">
            <app-content-card title="Best sellers">
                
            </app-content-card>

        </div> -->

        <!-- <div class="card-column">
            <app-content-card [title]="'Explore Tasks'">

                <div class="task-categories">
                    <mat-card>

                    </mat-card>
                    <mat-card>

                    </mat-card>
                    <mat-card>

                    </mat-card>
                    <mat-card>

                    </mat-card>


                </div>


            </app-content-card>
        </div> -->


    </div>
</div>