.categories{
    padding: 1rem;
    padding-top: 2rem;

    overflow: scroll;
}

.search-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}
.search-heading button{
    margin-left: 10px;
}