<div class="overview">
    <div class="actions-container">
        <button mat-raised-button color="accent"  (click)="onAddStockClick()">Add stock</button>
        <button mat-raised-button color="primary" (click)="onEditClick()">Edit</button>
        <button mat-raised-button color="primary" (click)="onTogleActive()" >Toggle Availabilty</button>
    </div>
    <div class="row">

        <!-- Image column -->
        <div class="col-12 col-md-6  img-container">

        <img src="https://source.unsplash.com/random" alt="">
        </div>

        <!-- Product Info colum -->
        <div class=" col-12 col-md-6 info">
            <mat-card-header>
                <mat-card-title>{{ viewModel.name }}</mat-card-title>
                <mat-card-subtitle>{{ viewModel.note }}</mat-card-subtitle>

            </mat-card-header>
                    
            <div class="description-container">
                <mat-card-content>
                    <div class="attributes-container">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip 
                            *ngFor="let attribute of viewModel.attributes; let i=index" 
                            [color]="getColor(i)" selected>{{attribute}}</mat-chip>
                            <!-- <mat-chip>One fish</mat-chip>
                            <mat-chip>Two fish</mat-chip> -->
                            <!-- <mat-chip color="primary" selected>Primary fish</mat-chip> -->
                        </mat-chip-list>
                    </div>
                    <p>{{ viewModel.description }}</p>
                    <app-star-rating [enabled]="false" [rating]="viewModel.rating"></app-star-rating>
                    <h6 class="stock-tag">
                        {{ viewModel.stockQty }} in stock
                    </h6>
                    <h5 class="price-tag">
                        ${{ viewModel.price }}
                    </h5>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip *ngIf="viewModel.available" color="accent" selected>Available</mat-chip>
                        <mat-chip *ngIf="!viewModel.available" color="warn" selected>Hidden</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </div>
        </div>
    </div>

</div>