<div class="overview">
    <div class="row actions-container">
        <button mat-button color="accent"  (click)="onAddStockClick(1)">Add stock</button>
        <button mat-button color="accent">Edit</button>
        <button mat-button color="accent" (click)="onTogleActive()" >Toggle Availabilty</button>
    </div>
    <div class="row">

        <div class="col col-lg-4 col-md-5 col-sm-12 col-12 overview-img"
        [ngStyle]="{'background-image':  'url(https://source.unsplash.com/random)' }">
        </div>

        <div class="info col col-lg-8 col-md-7 col-sm-12 col-12 ">
            <mat-card-header>
                <mat-card-title>{{ viewModel.name }}</mat-card-title>
                <mat-card-subtitle>{{ viewModel.note }}</mat-card-subtitle>

            </mat-card-header>
                    
            <div class="description-container">
                <mat-card-content>
                    <div class="attributes-container">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip 
                            *ngFor="let attribute of viewModel.attributes; let i=index" 
                            [color]="getColor(i)" selected>{{attribute}}</mat-chip>
                            <!-- <mat-chip>One fish</mat-chip>
                            <mat-chip>Two fish</mat-chip> -->
                            <!-- <mat-chip color="primary" selected>Primary fish</mat-chip> -->
                        </mat-chip-list>
                    </div>
                    <p>{{ viewModel.description }}</p>
                    <app-star-rating [enabled]="false" [rating]="viewModel.rating"></app-star-rating>
                    <h6 class="stock-tag">
                        {{ viewModel.stockQty }} in stock
                    </h6>
                    <h5 class="price-tag">
                        ${{ viewModel.price }}
                    </h5>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip *ngIf="viewModel.available" color="accent" selected>Available</mat-chip>
                        <mat-chip *ngIf="!viewModel.available" color="warn" selected>Hidden</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </div>
        </div>
    </div>

</div>