<div class="sign-in-container">


  <form class="sign-in-form" [formGroup]="formGroup" (ngSubmit)="signIn()">
    <h4>Sign in</h4>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Type your email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Type your password" formControlName="password">
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">Sign in</button>

    <a href="#">Forgot your password?</a>
  </form>

  <div class="register-invite">
    <mat-toolbar>Don't have an account yet?</mat-toolbar>

    <div class="register-info-section">
      <div class="register-info">
        <h4>Register and keep track of your orders</h4>
        <p>By registering you get access to placing, saving and checking history of your orders.</p>
        <div class="register-btn-container">

          <button type="submit" mat-flat-button color="primary" (click)="redirectToRegister()">Register now</button>
        </div>
      </div>
    </div>
  </div>

</div>