<app-content-card title="Best sellers">
    <app-carousel>
        <app-carousel-item>
            <app-product-thumbnail></app-product-thumbnail>
        </app-carousel-item>
        <app-carousel-item>
            <app-product-thumbnail></app-product-thumbnail>
        </app-carousel-item>
        <app-carousel-item>
            <app-product-thumbnail></app-product-thumbnail>
        </app-carousel-item>
        <app-carousel-item>
            <app-product-thumbnail></app-product-thumbnail>
        </app-carousel-item>
    </app-carousel>
</app-content-card>