<div class="overview">
    <div class="overview-img">
        <img [src]="viewModel.imageUrl" alt="">
    </div>
    <div class="overview-info">
        <mat-card-header>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="accent" selected>Accent fish</mat-chip>
                <mat-chip>One fish</mat-chip>
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected>Primary fish</mat-chip>
              </mat-chip-list>
            <mat-card-title>{{ viewModel.name }}</mat-card-title>
            <mat-card-subtitle>{{ viewModel.note }}</mat-card-subtitle>
            
        </mat-card-header>
        <div class="description-container">
            <mat-card-content>
                <p>{{ viewModel.description }}</p>
                <app-star-rating rating="3"></app-star-rating>
                <h6 class="stock-tag">
                    {{ viewModel.stockQty }} in stock
                </h6>
                <h5 class="price-tag">
                    ${{ viewModel.price }}
                </h5>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip color="accent" selected>Available</mat-chip>
                  </mat-chip-list>
            </mat-card-content>
        </div>
    </div>

</div>