.overview{
    display: flex;
}
.overview-img{
    justify-content: center;
    
}
.overview-img img{
    width: 300px;
    height: 250px;
    border-radius: 4px;

}
.description-container{
    padding-left: 1rem;
}