.thumbnail{
    border: 0.3px solid black;
    padding: 0.5rem;
    border-radius: 5px;
    width: 300px;
    display: flex;
}
.image{
    border-radius: 6px;
    background-color: tomato;
    height: 80px;
    flex: 1
}
.name-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name-container h6{
    margin-left: 2rem;
}