<div class="example-container"   [ngClass]="{'scroll-disable': open, 'example-is-mobile': !mobileQuery.matches}">

  <nav-bar></nav-bar>

  <!-- Structural component -->
  <mat-sidenav-container class="example-sidenav-container">

    <!-- Side content -->
    <mat-sidenav  [style.marginTop.px]="82" [fixedInViewport]="true" [(mode)]="matSideNavMode" [(opened)]="open" (opened)="onOpen()" (closed)="onClose()" position="end">
      <app-side-menu></app-side-menu>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content [ngClass]="{'scroll-disable': open}">
      <router-outlet></router-outlet>
      <!-- <div class="outlet">
      </div> -->
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->