
/* Showcase */
.showcase{
    background: #333 
    url(/assets/roman-kraft-P8zDQz8Y2Vc-unsplash.jpg) 
    no-repeat center center/cover;
    height: 100%;
    color: #fff;
}
.showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.342);
}

.main-container{
    position: relative;
    top: 100;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background: url('/assets/roman-kraft-P8zDQz8Y2Vc-unsplash.jpg') center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.photo-footer{
    position: absolute;
    right: 2px;
    bottom: 5px;
    font-size: 1rem;
    color: white
}
.what{
    padding-top: 3rem;
}
.items{
    display: flex;
    padding: 1rem;
    margin-top: 3rem;
}

.item{
    padding: 1rem;

}