<div class="showcase">
    <div class="overlay">
        <div class="showcase-content">
            <h1 class="heading text-center">
                Healthy sweetness
            </h1>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quidem facere provident, mollitia eaque
                voluptatibus.
            </p>
            <button mat-flat-button color="accent">Sign Up</button>

        </div>
        <div class="photo-footer">
            <a href="https://unsplash.com/photos/P8zDQz8Y2Vc">Photo by Roman Kraft on Unsplash</a>
        </div>
    </div>

</div>


<div class="what">

    <div class="container py-3">
        <h2 class=" text-center">
            What we do
        </h2>
        <div class="items">
            <div class="item">
                <div>
                    <h3>French Pastries</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, placeat!</p>
                </div>
            </div>
            <div class="item">
                <div>
                    <h3>Cookies</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, placeat!</p>
                </div>
            </div>
            <div class="item">
                <div>
                    <h3>Muffins</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, placeat!</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur veniam quia quis non repellat sed doloremque odit! Nihil dolorum architecto iusto numquam praesentium pariatur modi. Id iusto praesentium laborum.</p>
</div>