.showcase{
    height: 50vh; 
    background: url('../../../../assets/roman-kraft-P8zDQz8Y2Vc-unsplash.jpg')
    center center/cover;  
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
}
.showcase-content{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.lead{
    text-align: center;
}
.photo-footer{
    font-size: 0.5rem;
}
.what{
    margin-top: 3rem;
    height: 40vh;
}
.items{
    display: flex;
    margin-top: 2rem;
    padding: 1rem;
}
.footer{
    color: white;
    font-size: 0.5rem;
    height: 50px;
    background-color: black;
    width: 100%;
}