.menu{
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
   
    padding: 10px 20px;
    color: white;
} 

.main-row{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: x-large;
}

.main-icon{
    font-size: 40px;
    margin-right: 45px;
}

.left-group {
  display: flex;
  align-items: flex-start;
}

.menu .right-group{
    padding: 10px 15px;
}

/* .menu-icon{
    margin-left: 20px;
} */

mat-icon{
    align-items: center;
}