:host{
    height: 84px;
    background-color: rgb(175, 175, 175);
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
   
    padding: 10px 20px;
    color: white;
}

.main-row{
    height: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.main-icon{
    font-size: 40px;
    margin-right: 45px;
}

.left-group {
  display: flex;
  align-items: flex-start;
}
mat-nav-list{
    padding: 0;
    display: flex;
    align-items: center;
}
mat-nav-list a{
    color: white;
}

.right-group{
    display: flex;
    padding: 10px 15px;
}
.signed-in-section{
    display: flex;
    align-items: center;
}
.search-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    padding: 1rem;

}

mat-icon{
    align-items: center;
}

.nav-buttons{
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
}

.nav-buttons button{
    margin-right: 1rem;
}


