<div class="menu">

    <div class="main-row">
        <div class="left-group">
            <button mat-icon-button>
                <mat-icon class="main-icon">local_cafe</mat-icon>
            </button>
            <ng-content select="button"></ng-content>
        </div>
        <div class="right-group">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>

            <div class="nav-buttons">
                <button mat-stroked-button>
                    <a [routerLink]="['./signin']" routerLinkActive="router-link-active">Sign in</a>
                </button>
    
                <button mat-flat-button color="accent">
                    <a [routerLink]="['./signin/register']" routerLinkActive="router-link-active">Sign up</a>
                </button>
            </div>
            

            <button class="menu-btn" mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon class="menu-icon" (click)="requestSideMenuToggle()">menu</mat-icon>
            </button>
        </div>
    </div>

    <div class="message">
        <ng-content select="p"></ng-content>
    </div>

</div>