<div class="menu">

    <div class="main-row">
        <div class="left-group">
            <button mat-icon-button>
                <mat-icon class="main-icon">local_cafe</mat-icon>
            </button>
            <div *ngFor="let group of menuGroupVm" class="nav-btns">
                <mat-nav-list>
                    <a mat-list-item *ngFor="let menuItem of group.links" [routerLink]="[menuItem.route]"
                        routerLinkActive="link-active">
                        <div mat-line>{{menuItem.label}}</div>
                    </a>
                </mat-nav-list>

            </div>
        </div>
        <div class="right-group">
            <app-search-bar></app-search-bar>

            <div *ngIf="signedIn$ | async; else signBtns " class="nav-btns">
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['checkout']" routerLinkActive="router-link-active">
                        <mat-icon>shopping_cart</mat-icon>
                    </a>
                </mat-nav-list>
            </div>

            <ng-template #signBtns> 
                <div class="nav-buttons">
                    <button mat-stroked-button>
                        <a [routerLink]="['./signin']" routerLinkActive="router-link-active">Sign in</a>
                    </button>

                    <button mat-flat-button color="accent">
                        <a [routerLink]="['./signin/register']" routerLinkActive="router-link-active">Sign up</a>
                    </button>
                </div>
            </ng-template>



            <button class="menu-btn" mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon class="menu-icon" (click)="requestSideMenuToggle()">menu</mat-icon>
            </button>
        </div>
    </div>

    <!-- <div class="search-container">
        <app-search-bar></app-search-bar>
    </div> -->

    <div class="message">
        <ng-content select="p"></ng-content>
    </div>

</div>