.menu-container{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
.mat-toolbar{
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
}
.branding-container{
    position: sticky;
    top: 0;
    display: flex;
    /* Default flex direction */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    height: 61px;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.brand-text{
    margin-left: 1rem;
}
.menu-group-container{
    /* position: relative; */
}


.group-heading{
    font-weight: bold;
}
.link-active{
    border-left: 4px #ffd740 solid !important;    
}
.menu-item-link{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    border: none;

}
.bottom-toolbar{
  align-self: center;
}
@media(min-width: 768px){
    .menu-container{
        width: 150px;
    }
}
@media(min-width: 930px){
    .menu-container{
        width: 200px;
    }
}