.menu-container{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
.menu-section{
    padding: 1.5rem;
}

.nav-btn-grp{
    margin-top: 1rem;
}

.nav-btns button{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: start;
}

.bottom-toolbar{
  align-self: flex-end;
}

