<div class="menu-container">


    <div class="menu-section">

        <app-search-bar goBtn="true"></app-search-bar>

        <div *ngFor="let group of menuGroupVm" class="nav-btn-grp">

            <div  class="nav-btns">
                <button mat-button  *ngFor="let menuItem of group.links" (click)="onNavBtnClick(menuItem.route)">
                    {{ menuItem.label }}</button>
            </div>
        </div>

        <div class="divider"></div>

        <div *ngIf="signedIn$ | async; else signInbtns"></div>

        <ng-template #signInbtns>
            <div class="button-group">
                <button mat-stroked-button>
                    <a [routerLink]="['./signin']" routerLinkActive="router-link-active">Sign in</a>
                </button>

                <button mat-flat-button color="accent">
                    <a [routerLink]="['./signin/register']" routerLinkActive="router-link-active">Sign up</a>
                </button>
            </div>
        </ng-template>

    </div>


    <div class="menu-section bottom-toolbar">
        <app-user-settings-dropdown></app-user-settings-dropdown>
    </div>


</div>