<div class="container p-3 form-container">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Pass</span>
        </div>
        <input type="text" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon2">
    </div>

    <button type="button" class="btn btn-primary">Primary</button>
</div>