.category-overview{
    margin-top: 2rem;
}

.category-item{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.category-item span{
    font-size: x-large;
}
.category-item img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
 }
