.mat-card{
    margin: 1rem auto ;
    height: 100%;
    padding: 0rem;
    overflow: hidden;
    max-width: 900px;
}


@media(max-width: 375px){
    .mat-card{
        margin: 0.5rem;
       
    }
}
.heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

:host ::ng-deep  mat-card-actions button{
    font-size: 2rem;
}

:host ::ng-deep  mat-card-actions {
    margin-right: 0;
}