<mat-card class="example-card">
    
    <mat-card-content>
        <div class="image-container">
            <img mat-card-image [src]="viewModel.imageUrl" alt="Photo of a Shiba Inu">
        </div>
        <!-- <p>{{ viewModel.description }}</p> -->
    </mat-card-content>
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <h5 class="price-tag">
            ${{ viewModel.price}}
        </h5>
        <mat-card-title>{{ viewModel.name}}</mat-card-title>
        <mat-card-subtitle>{{ viewModel.note }}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-actions>
        <button mat-button>Ver más</button>
        <button mat-button>VENTA</button>
    </mat-card-actions>
</mat-card>