.report-row{
    display: flex;
    margin: 1rem;
    align-items: center;
}

.thumbnail{
    height: 200px;
    min-width: 200px;
}

.insights{
   
    flex: 1;
    display: flex;
    justify-content: space-between;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}



/* .insights app-indicator{
    border-right: 1px solid #3333334f;

} */
/* .insights app-indicator:last-child{
    border-right: none;
} */
