.report-row{
    display: flex;
    margin: 1rem;
    align-items: center;
}

.image{
    border-radius: 5px;
    background-color: blue;
    width: 200px;
    height: 200px;
}
.insights{
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.insights app-indicator{
    border-right: 1px solid #3333334f;

}
.insights app-indicator:last-child{
    border-right: none;
}
